// ======================================================
// Design system palette
// ======================================================

$palette-off-black:               #313638;
$palette-white:                   #FFFFFF;
$palette-light-blue:              #B9DAD5;

$palette-project-yellow:         #5CB9FF;
$palette-project-dark-yellow:    #3C83DE;
$palette-project-red:            #F25C48;
$palette-project-blue:           #5579CF;

$palette-active-border:           #313638;

$palette-button-base:             #99B9FF;
$palette-button-border:           $palette-active-border;
$palette-button-border-disabled:  #3C83DE;
$palette-button-text-disabled:    #627373;

$palette-circular-progress:       #F25C48;